# Copy this file to .env and fill in your real keys

# --- BLOCKCHAIN CONFIGURATION ---
# Default for Ganache CLI is 8545, GUI is 7545
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=1337

# The Private Key for Account (0) in Ganache (The "Protocol Admin")
PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000

# Deployed Smart Contract Address (Leave empty until deployed)
CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

# --- DATABASE CONFIGURATION ---
# Path to your SQLite database
DATABASE_URL=sqlite:///../fintech.db

# --- SECURITY & AUTH ---
# Password for the 🔐 Admin Portal in Streamlit
ADMIN_PASSWORD=password_here

# Secret key for FastAPI internal security/tokens
SECRET_KEY=generate_a_long_random_string_here