# --- Virtual Environments ---
.venv/
venv/
ENV/
env/
.env

# --- Python Bytecode & Cache ---
__pycache__/
*.py[cod]
*$py.class
*.joblib
build/

# --- Distribution / Packaging ---
dist/
build/
*.egg-info/

# --- Environment Variables (Security!) ---
.env

# --- Operating System Files ---
.DS_Store
Thumbs.db